* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
/* #about {
  transform: skewY(-2deg);
} */
#skew {
  transform: skewY(-2deg);
}
#about-container {
  transform: skewY(2deg);
}
.skills {
  transform: skewY(2deg);
}
/* .glass-background {
  @apply bg-[#ffffff]/30 backdrop-blur border shadow-inner;
} */
.glass-background {
  @apply bg-[#ffffff]/30 border hover:border-blue-400 shadow-inner;
}

.dark-mode-button {
  @apply bg-gray-200 dark:bg-gray-800 text-gray-800 dark:text-gray-200;
  @apply hover:bg-gray-300 dark:hover:bg-gray-700;
  @apply transition duration-150 ease-in-out;
}

.sun-icon,
.moon-icon {
  @apply fill-current;
}

.moon-icon {
  @apply hidden lg:block;
}

.box-shadow {
  @apply bg-[#191924] rounded-md hover:bg-gray-50 hover:shadow-lg hover:text-[#191924];
}

#card {
  -webkit-box-shadow: 0px 0px 129px 8px rgba(245, 46, 255, 0.9);
  -moz-box-shadow: 0px 0px 129px 8px rgba(245, 46, 255, 0.9);
  box-shadow: 0px 0px 129px 8px rgba(245, 46, 255, 0.9);
}
.tilt-effect {
  @apply transition duration-300 ease-in-out transform hover:-translate-y-4;
}
.glow-btn {
  -webkit-box-shadow: 0px 0px 42px 20px rgba(234, 46, 255, 0.72);
  -moz-box-shadow: 0px 0px 42px 20px rgba(234, 46, 255, 0.72);
  box-shadow: 0px 0px 42px 20px rgba(234, 46, 255, 0.72);
}

.card-glow {
  -webkit-box-shadow: 0px 0px 54px 1px rgba(255, 46, 241, 0.9);
  -moz-box-shadow: 0px 0px 54px 1px rgba(255, 46, 241, 0.9);
  box-shadow: 0px 0px 54px 1px rgba(255, 46, 241, 0.9);
}
.card-glow-yellow {
  -webkit-box-shadow: 0px 0px 172px 2px rgba(241, 255, 46, 0.5);
  -moz-box-shadow: 0px 0px 172px 2px rgba(241, 255, 46, 0.5);
  box-shadow: 0px 0px 172px 2px rgba(241, 255, 46, 0.5);
}

.glass-effect-green {
  @apply bg-[#c0f4b6]/75 backdrop-blur-sm backdrop-filter brightness-125;
  border-radius: 10px; /* Optional for rounded corners */
}

.gradient-bg {
  background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
}

.drop-shadow {
  filter: drop-shadow(0.25rem 0.25rem 0.5rem #000000);
}

/* Skils  */
.skills-card {
  @apply flex tilt-effect  glass-background justify-between items-center border-2 rounded-md mt-10 h-[50vh] flex-col card-glow;
}

.responsive-nav {
  @apply md:flex w-1/2 justify-end items-end mr-3;
}

.res-skills-md {
  @apply sm:flex flex-row w-full justify-around items-center;
}
.res-skills-sm {
  @apply md:w-full flex-col justify-around items-center;
}

.text-animation {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;

  text-align: center;
  color: #f35626;
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 1s infinite alternate;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

.linear-wipe {
  text-align: center;

  background: linear-gradient(
    to right,

    #b8cbb8 0%,
    #b8cbb8 0%,
    #b465da 0%,
    #cf6cc9 33%,
    #ee609c 66%,
    #ee609c 100%
  );
  background-size: 200% auto;

  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 1s infinite linear;
}

.glassBackgroundLight {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.darkNav,
.darkSkills,
.darkProjects {
  @apply bg-[#191924] text-white;
}
.lightNav,
.lightSkills,
.lightProjects {
  @apply bg-[#D0A2F7] text-[#030637];
}
.darkHome,
.darkAbout {
  @apply bg-[#1C1E27] text-white;
}
.lightHome,
.lightAbout {
  @apply bg-[#DCBFFF]  text-[#030637];
}

.darkAboutGlow-Bg {
  @apply glass-background  card-glow-yellow;
}
.lightAboutGlow-Bg {
  @apply glassBackgroundLight  skillsGradient;
}

.resume-btn-dark {
  @apply bg-[#191924] text-white hover:bg-slate-50 hover:text-black transition-all;
}

.resume-btn-light {
  @apply bg-[#ADA2FF] text-[#030637]  hover:bg-[#030637] hover:text-white transition-all;
}

.darkProjectCard {
  @apply glow-btn transition-all text-black;
}
.lightProjectCard {
  @apply projectsGlow transition-all text-[#030637];
}

.formSend {
  @apply bg-[#030637]  text-white hover:bg-white hover:text-[#030637];
}

.projectsGlow {
  -webkit-box-shadow: 0px 0px 22px 8px rgba(194, 54, 209, 1);
  -moz-box-shadow: 0px 0px 22px 8px rgba(194, 54, 209, 1);
  box-shadow: 0px 0px 22px 8px rgba(194, 54, 209, 1);
}

.pfpGradient {
  -webkit-box-shadow: 0px 0px 177px 77px rgba(144, 46, 255, 0.82);
  -moz-box-shadow: 0px 0px 177px 77px rgba(144, 46, 255, 0.82);
  box-shadow: 0px 0px 177px 77px rgba(144, 46, 255, 0.82);
}

.skillsGradient {
  -webkit-box-shadow: 0px 0px 27px 9px rgba(54, 62, 209, 1);
  -moz-box-shadow: 0px 0px 27px 9px rgba(54, 62, 209, 1);
  box-shadow: 0px 0px 27px 9px rgba(54, 62, 209, 1);
}
